* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
nav,
footer,
header,
aside {
	display: block;
}
html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}
/*****************************/
body {
	font-family: "Roboto", sans-serif;
	color: #172345;
	font-weight: 400;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0px 10px;
}
/*header*/
.header {
	background-image: url("../images/header-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 100vh;
}
.header-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 26px;
}
.menu-list {
	display: flex;
}
.menu-list__item {
	margin-left: 42px;
}
.menu-list__link {
	color: #5326d4;
	font-size: 15px;
	line-height: 16px;
	letter-spacing: 2px;
	transition: all 0.5s;
}
.menu-list__link:hover{
	color:#bdc3c7;
}
.logo {
	padding-right: 180px;
}
.logo__img {
	display: block;
	object-fit: cover;
	max-width: 70px;
}
.header-body {
	margin-right: 42px;
}
.header-btn {
	background-color: transparent;
	padding-left: 28px;
}

.header__content {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: #ffffff;
	margin-top: 127px;
}
.header__title {
	font-size: 62px;
	font-weight: 400;
	line-height: 70px;
	letter-spacing: 4px;
}
.subtitle {
	font-size: 29px;
	font-weight: 400;
	line-height: 42px;
	width: 600px;
	margin: 0 auto;
	padding: 26px 0px;
}
.header__content-btn {
	display: inline-block;
	/*
	width: 149px;
	height: 58px;*/
	border: 3px solid #4144bf;
	border-radius: 50px;
	padding: 13px 35px;
	font-size: 18px;
	line-height: 31px;
	background-color: #ffffff;
	color: #4144bf;
	transition: all 1s;
}
.header__content-btn:hover {
	color: #fff;
	background-color: #4144bf;
}
/*brends*/
.brands {
	background-color: #dee6f3;
}
.brands__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 27px 0px;
}

.brands__text {
	font-size: 12px;
	line-height: 17px;
	letter-spacing: 2px;
}
.brands__img {
	width: 100%;
	max-width: 120px;
	display: block;
	object-fit: cover;
}
/*about*/
.about {
	position: relative;
}
.about-text {
	text-align: center;
	font-size: 24px;
	line-height: 39px;
	letter-spacing: 1.3159199953079224px;
	max-width: 774px;
	margin: 0 auto;
	padding-top: 32px;
}
.about-text__body {
	padding-bottom: 70px;
}
.about-text__list {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.about-text__descri {
	line-height: 17px;
	letter-spacing: 2.0835399627685547px;
	padding: 0px 13px;
	border-left: 3px solid #172345;
}
.about-text__descri:nth-child(1) {
	border-left: none;
}
.about__inner {
	display: flex;
	flex-wrap:wrap;
	margin-right: 100px;
	padding-bottom: 87px;
}
.meet__block {
	padding-top: 227px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 75px;
	margin-right: 63px;
}
.meet__text {
	width: 108px;
	font-size: 23px;
	line-height: 33px;
	letter-spacing: 1.3159199953079224px;
	padding-bottom: 19px;
}
.meet__btn {
	display: inline-block;
	border: 3px solid #4144bf;
	border-radius: 50px;
	padding: 12px 24px;
	font-size: 18px;
	line-height: 31px;
	background-color: #ffffff;
	color: #4144bf;
	text-align: center;
	transition: all 1s;
}
.meet__btn:hover {
	color: #fff;
	background-color: #4144bf;
}
.about-product__inner{
	display: flex;
justify-content: center;
align-items: center;
}
.about-product {
	margin-top: 75px;
	margin-left: 10px;
	margin-right: 10px;
	position: relative;
}
.about-product::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(5, 5, 5, 0.2);
}
.about-product:hover::after {
	background: none;
	transition: all 1s;
}
.about-product__img {
	display: block;
	width: 100%;
	max-width: 350px;
	object-fit: cover;
}
.about-product__text {
	color: #000000;
	text-align: center;
	position: absolute;
	bottom: 30px;
	left: 100px;
	z-index: 5;
}
.about-product__title {
	font-size: 23px;
	line-height: 36px;
	text-align: center;
}

.about-product__price {
	font-size: 14px;
	line-height: 25px;
}
.border-right {
	content: "";
	position: absolute;
	bottom: -6px;
	right: 0px;
	height: 5px;
	width: 558px;
	background-color: #d3e1e6;
}
/*video-about*/
.video-about {
	padding-bottom: 100px;
	text-align: center;
	position: relative;
}
.border-left::after {
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;
	height: 5px;
	width: 558px;
	background-color: #d3e1e6;
}
.shop__btn {
	display: inline-block;
	background: #4144bf;
	border-radius: 50px;
	font-size: 17px;
	line-height: 28px;
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;
	padding: 13px 38px;
	margin-bottom: 44px;
	margin-top: 21px;
	transition: all 1s;
}
.shop__btn:hover {
	background: #b0b1c0;
}

.video-about__block {
	display: flex;
}
.video-about__inner {
	background-image: url("../images/video-bg.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 678px;
	height: 585px;
	margin-left: 21px;
}
.video-about__content {
	text-align: center;
	padding-top: 243px;
}
.video-about__link {
	padding-right: 60px;
}
.video-about__img {
	max-width: 99px;
}
.video-about__text {
	width: 303px;
	font-size: 28px;
	line-height: 30px;
	letter-spacing: 1.491379976272583px;
	color: #ffff;
	text-align: center;
	margin: 0 auto;
	margin-top: 47px;
	margin-bottom: 15px;
}
.video-about__btn {
	display: inline-block;
	border: 3px solid #4144bf;
	border-radius: 50px;
	padding: 13px 54px;
	font-size: 18px;
	line-height: 31px;
	background-color: #ffffff;
	color: #4144bf;
	text-align: center;
	transition: all 1s;
}
.video-about__btn:hover {
	color: #fff;
	background-color: #4144bf;
}
.awards__inner {
	min-width: 0;
	text-align: center;
	margin-left: 187px;
	margin-top: 187px;
}
.awards-slider {
	width: 495px;
	padding-bottom: 28px;
}
.slick-list {
	overflow: hidden;
}
.slick-track {
	display: flex;
}
.awards-slider .slick-slider {
	
	text-align: center;
}
.awards-slider .slick-dots {
	display: flex;
	justify-content: center;
	align-items: center;
}
.awards-slider .slick-dots li {
	width: 12px;
	height: 12px;
	border: 1px solid #000000;
	margin-left: 3px;
	margin-right: 3px;
}
.awards-slider .slick-dots li.slick-active {
	background-color: #000000;
}
.awards-slider .slick-dots li button {
	font-size: 0;
}
.awards-slider__item {
	margin: 0 auto;
}
.slick-slider img {
	display: inline-block;
}
.awards__text {
	font-size: 33px;
	line-height: 43px;
	margin-top: 13px;
	margin-bottom: 205px;
	/*
	width: 387px;*/
	text-align: center;
}
.price-month {
	font-size: 11px;
	line-height: 16px;
	letter-spacing: 2px;
	color: #000;
	width: 258px;
	padding-bottom: 5px;
	border-bottom: 1px solid #000000;
}
/*plastic*/
.plastic {
	padding-bottom: 135px;
}
.plastic-text__body {
	text-align: center;
	position: relative;
	width: 600px;
	margin: 0 auto;
}
.plastic-text__body::before {
	content: "";
	background-image: url("../images/tablet.png");
	position: absolute;
	top: 70px;
	right: 0px;
	width: 32px;
	height: 32px;
}
.plastic__title {
	font-size: 61px;
	line-height: 70px;
	letter-spacing: 4.386410236358643px;
	width: 456px;
	margin: 0 auto;
	margin-bottom: 17px;
}
.plastic__text {
	font-size: 31px;
	line-height: 42px;
	width: 592px;
	margin: 0 auto;
}
.plastic-inner {
	display: flex;
	justify-content: space-around;
	position: relative;
}
.plastic__item--1 {
	margin-right: 200px;
	margin-left: 130px;
	position: relative;
}
.plastic__item--1::before {
	content: "";
	background-image: url("../images/tablet-black-2.png");
	position: absolute;
	top: -30px;
	right: -50px;
	width: 32px;
	height: 27px;
}
.plastic__item--1::after {
	content: "";
	background-image: url("../images/tablet-white-1.png");
	position: absolute;
	top: 10px;
	right: 40px;
	z-index: 10;
	width: 32px;
	height: 29px;
}

.plastic-img--1 {
	display: block;
	max-width: 217px;
	object-fit: cover;
	position: relative;
}

.shadow-1::after {
	content: "";
	position: absolute;
	background-image: url("../images/shadow1-img.png");
	height: 295px;
	width: 217px;
	top: 0px;
	right: 0px;
	z-index: 5;
}
.plastic__item--2 {
	position: relative;
}

.plastic-img--2 {
	display: block;
	max-width: 353px;
	object-fit: cover;
}
.shadow-2 {
	content: "";
	position: absolute;
	background-image: url("../images/shadow2-img.png");
	height: 197px;
	width: 354px;
	bottom: 10px;
	right: 0px;
	z-index: -1;
}
.plastic__item--3 {
	padding-top: 10px;
	position: relative;
}
.plastic__item--3::after {
	content: "";
	background-image: url("../images/tablet-white-2.png");
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	top: -60px;
	left: 170px;
	z-index: 15;
	width: 32px;
	height: 34px;
}
.plastic__item--3::before {
	content: "";
	background-image: url("../images/tablet-silver.png");
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	bottom: 40px;
	left: 120px;
	z-index: 15;
	width: 32px;
	height: 34px;
}
.plastic-img--3 {
	display: block;
	max-width: 330px;
	object-fit: cover;

}
.shadow-3 {
	content: "";
	position: absolute;
	background-image: url("../images/shadow3-img.png");
	height: 265px;
	width: 330px;
	top: -100px;
	right: -5px;
	z-index: -1;
}
.plastic__btn {
	display: inline-block;
	font-size: 23px;
	line-height: 40px;
	width: 224px;
	height: 65px;
	text-align: center;
	padding-top: 12px;
	background: #4144bf;
	color: #ffffff;
	border-radius: 6px;
	content: "";
	position: absolute;
	top: 118px;
	right: 120px;
}
.plastic__btn:hover {
	background: #b0b1c0;
}

/*product*/
.product {
	padding-top: 118px;
	padding-bottom: 54px;
}
.product__top-content {
	display: flex;
	justify-content: space-between;
	padding-bottom: 120px;
}
.product__top-inner span {
	font-size: 12px;
	line-height: 13px;
	letter-spacing: 2px;
	margin-left: 55px;
	position: relative;
}
.product__top-inner span::after {
	content: "";
	position: absolute;
	bottom: -5px;
	right: -2px;
	height: 2px;
	width: 56px;
	background-color: #f5b4a4;
}
.product__top-title {
	font-size: 74px;
	line-height: 82px;
	letter-spacing: 5px;
	width: 490px;
	margin-top: 61px;
	margin-bottom: 91px;
	margin-left: 55px;
}

.product__top-text {
	font-size: 26px;
	line-height: 26px;
	width: 373px;
	margin-left: 91px;
}
.product__top-body {
	padding-top: 110px;
}
.product__top-img {
	display: block;
	max-width: 713px;
	width: 100%;
	object-fit: cover;
	padding: 0px 5px;
}
.product__items {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.product__item {
	margin-bottom: 91px;
}
.product-images {
	display: block;
	width: 100%;
	max-width: 431px;
	object-fit: cover;
}
.product__title {
	font-size: 19px;
	line-height: 22px;
	max-width: 400px;
}
.product-box {
	display: flex;
	justify-content: space-between;
}
.product__subtitle {
	font-size: 15px;
	line-height: 16px;
	color: #aaaaaa;
	margin-top: 2px;
	margin-bottom: 6px;
}
.product-price {
	font-size: 19px;
	line-height: 22px;
}
.price-bottom {
	padding-left: 193px;
}
.product__body {
	font-size: 13px;
	line-height: 15px;
}

.product-rated {
	margin-right: 17px;
}
.rated__stars {
	display: block;
	max-width: 73px;
	object-fit: cover;
}
.product-bottom {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.product__title-bottom {
	width: 260px;
}
.product-bottom__images {
	display: block;
	width: 100%;
	max-width: 313px;
	object-fit: cover;
}
/*ecology*/

.ecology {
	background-color: #d3e1e6;
	padding-bottom: 219px;
}
.ecology-bg {
	background-image: url("../images/eco-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 100vh;
	position: relative;
}
.ecology-content {
	text-align: center;
	margin: 0 auto;
	width: 485px;
}

.ecology__title {
	font-size: 55px;
	line-height: 44px;
	letter-spacing: 2.7415099143981934px;
}
.ecology__text {
	font-size: 25px;
	line-height: 32px;
	margin-top: 65px;
	margin-bottom: 25px;
}

.ecology__link {
	display: inline-block;
	border-radius: 6px;
	color: #ffff;
	background-color: #4144bf;
	font-size: 23px;
	line-height: 39px;
	text-align: center;
	padding: 13px 55px;
	margin-bottom: 31px;
	transition: all 1s;
}
.ecology__link:hover {
	background-color: #ffffff;
	color: #4144bf;
}
.border-none {
	border: none;
	display: block;
	margin: 0 auto;
}
/*services*/
.services {
	background: #fdf8f5;
}

.services-top__container {
	max-width: 1000px;
	margin: 0 auto;
}

.services__items {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding-top: 72px;
}

.services__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.services__icon {
	max-width: 100%;
	height: 79px;
	object-fit: cover;
}

.services__title {
	font-size: 23px;
	font-weight: 400;
	line-height: 26px;
	margin-top: 11px;
	margin-bottom: 13px;
}

.services__text {
	font-size: 11px;
	line-height: 25px;
	width: 217px;
}
.services__content {
	max-width: 1183px;
	text-align: center;
	margin: 0 auto;
	padding-bottom: 38px;
}
.services__img{
	display: block;
	max-width: 100%;
	object-fit: cover;
	margin: 0 auto;
}
.title {
	font-size: 70px;
	font-weight: 400;
	line-height: 110px;
	letter-spacing: 5.4830098152160645px;

}

.services__descrip {
	font-size: 23px;
	line-height: 39px;
	letter-spacing: 1.3159199953079224px;
	width: 676px;
	margin: 0 auto;
}

.services__link {
	font-size: 24px;
	line-height: 39px;
	color: #324477;
}
/*reviews*/
.reviews__inner {
	display: flex;
	justify-content: space-around;
	margin-top: 145px;
	margin-bottom: 120px;
}

.about__body {
	width: 460px;
}

.about-discri__title {
	font-size: 56px;
	line-height: 53px;
	letter-spacing: 3.2898099422454834px;
}

.about-discri__text {
	font-size: 24px;
	line-height: 49px;
	letter-spacing: 1.3159199953079224px;
	margin-top: 24px;
	margin-bottom: 20px;
}

.reviews__link {
	font-size: 22px;
	line-height: 39px;
	color: #0038d2;
}

.reviews-slider {
	padding-top: 75px;
	position: relative;
}

 .slick-slider {
	text-align: center;
	width: 300px;
}
.reviews-slider .slick-arrow {
	position: absolute;
	top: 50%;
	z-index: 10;
	font-size: 0;
	width: 50px;
	height: 50px;
	background-color: transparent;
}
.reviews-slider .slick-arrow.slick-next {
	left: -55px;
	background-image: url("../images/arrow-left.svg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.reviews-slider .slick-arrow.slick-prev {
	background-image: url("../images/arrow-left.svg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	right: -55px;
}

.reviews-slider__item {
	color: #415286;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	max-width: 294px;
}

.reviews-top__text {
	font-size: 15px;
	line-height: 33px;
	width: 234px;
	margin: 0 auto;
}

.reviews__text {
	font-size: 21px;
	line-height: 33px;
	width: 294px;
	margin-bottom: 55px;
}

.reviews__author {
	color: #000000;
}
/*footer*/
.footer {
	background-color: #fdf8f5;
}
.footer__container {
	max-width: 1220px;
	padding: 30px 10px 0px 10px ;
	margin-left: 165px;
}
.footer__items {
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
}
.footer-item {
	margin-left: 25px;
	margin-right: 25px;
	margin-bottom: 65px;
	width: 250px;
}
.footer-item__title {
	font-size: 23px;
	line-height: 32px;
	margin-bottom: 10px;
}
.footer__link {
	display: block;
	font-size: 18px;
	line-height: 31px;
	margin-bottom: 5px;
	transition: all .7s;
}
.footer__link:hover{
color: #860622;
font-size: 19px;
}
.footer__text {
	font-size: 21px;
	line-height: 31px;
}
.min-text {
	font-size: 19px;
	line-height: 31px;
}
.inline {
	display: inline;
}
.mini-text {
	font-size: 14px;
	line-height: 31px;
	width: 225px;
}
.footer-email__link {
	font-size: 18px;
	line-height: 31px;
	color: #6c77b5;
}
.footer-bottom {
	width: 600px;
	margin: 0 auto;
	font-size: 19px;
	line-height: 31px;
	text-align: center;
	padding-bottom: 114px;
}
.footer-bottom__link {
	color: #6c77b5;
}
.footer-bottom__logo {
	margin-top: 14px;
	margin-bottom: 40px;
}
.footer-bottom__btn {
	margin-left: 21px;
	margin-right: 21px;
	font-size: 14px;
	line-height: 25px;
	color: #6c77b5;
}



/*media*/
@media (max-width: 1500px){
.about__inner{
	margin: 0 auto;
justify-content: center;
}

}
@media (max-width: 1390px){
	.about-product--3{
		justify-content: center;
	}
	.meet__block{

margin: 0 auto;
	}

	}
	@media (max-width: 1375px){
		
		.video-about__block{
			display: block;
		}
		.video-about__inner{
			margin: 0 auto;
		}
		.awards-slider {
			width: 100%;
		
		}
		.awards__inner{
       margin: 0 auto;
		 padding-top: 100px;
			
		}
		
		.border-left::after{
			display: none;
			}
		.border-right{
      display: none;
		}
		
		

	}
	@media (max-width: 1280px){
		.product-bottom__item{
			margin-bottom: 20px;
		}
	}
	@media (max-width: 1254px) {
		.meet__block{
			padding-top: 0;
		
				}
	.plastic__item--1{
		margin: 0;
	}
	.product__top-content{
		flex-direction: column;
      align-items: center;
		justify-content: center;
	}
	.product__top-inner{
		padding-left: 5px;
	}
	.product__top-title{
		width: 100%;
		margin-left: 0;
		
	}
	.product__top-text{
		width: 100%;
		margin-left: 0;
		
	}

	}
	@media (max-width: 1086px){
		.footer__container{
			margin-left: 0 ;
	
		}
		.footer__items{
			justify-content: center;
		}

	}
@media (max-width: 1024px) {
	.header{
		height: 80vh;
	}
	.brands__inner{
		flex-wrap: wrap;
	}
	.brands__item{
		margin: 10px 5px;
	}
	.brands__img {
		max-width: 60px;
	}
	.plastic{
		padding-bottom: 0px;
	}
	.reviews__inner{
		flex-direction: column;
		align-items: center;
	}
}

@media (max-width: 930px){
	.plastic__item--1{
		display: none;
	}
	.plastic__item--3{
		display: none;
	}
	.plastic__btn{
		right: 71px;
	}
}
@media (max-width: 865px){
	.about__inner{
		display: block;
	}
}
@media (max-width: 830px) {
	.logo {
		padding-right: 0;
	}
	.product__item{
		margin-bottom: 50px;
		padding: 0px 5px;
	}
}
@media (max-width: 800px){
	.ecology-bg{
		height: 60vh;
	}
	}
	@media (max-width: 750px){
.services__items{
	flex-direction: column;
}
.title{
	font-size: 55px;
	line-height: 85px;
}

		.about__inner{
			display: block;
		}
		.about-product__inner{
			flex-direction: column;
			
		}
		.about-product{
			width: 100%;
		}
		.about-product__img{
		margin: 0 auto;
		}

	}
	
@media (max-width: 700px){
	.video-about__inner{
		max-width: 550px;
	}
	.services__descrip{
		width: 100%;
	}
}
@media (max-width: 651px){
	.header__title{
		font-size: 45px;

	}
	.subtitle{
		font-size: 21px;
	}
.meet__block{
	padding-top: 50px;
}
.footer-bottom{
	width: 100%;
}
}
@media (max-width: 622px) {
	.header-top {
		flex-direction: column;
	}
	.header__content {
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.header-body {
		margin-right: 0;
		padding: 0px 10px;
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
	.menu {
		margin-bottom: 20px;
	}
	.menu-list__item:first-child {
		margin-left: 0px;
	}
	.subtitle {
		width: 330px;
	}
	.plastic-text__body{
		width: 100%;
		padding: 0px 10px ;
	}
	.plastic__title{
		width: 100%;
		
	}
	.plastic__text{
		width: 100%;
		font-size: 25px;
	}
}
@media (max-width: 555px){
	.video-about__inner{
		max-width: 450px;
		background-position: left;
	}
}
@media (max-width: 510px){
	.about__body{
		width: 100%;
		padding: 0px 10px ;
	}
	.reviews-slider .slick-slider{
		width: 300px;
	}
	.reviews-slider .slick-arrow.slick-next{
		left: -45px;
			}
			.reviews-slider .slick-arrow.slick-prev{
				right: -45px;
			}
	}
	.header__content-btn{
		padding: 9px 25px ;
	}
	
@media (max-width: 479px){
	.video-about__inner{
		max-width: 400px;
		
	}
	.ecology-content{
		width: 100%;
	}
	.title{
		font-size: 48px;
	line-height: 65px;
	margin-bottom: 20px;
	}
	.reviews-slider .slick-dots{
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 30px;
	}
	.reviews-slider .slick-dots li{
		width: 12px;
	height: 12px;
	border: 1px solid #000000;
		margin-left: 5px;
		margin-right: 5px; 
	}
	.reviews-slider .slick-dots li.slick-active {
		background-color: #000000;
	}
	.reviews-slider .slick-dots li button{
		font-size: 0;
	}
	.footer-bottom__btn{
		display: flex;
		justify-content: center;
	}
}
@media (max-width: 444px){
	.video-about__inner{
		max-width: 380px;
		
	}
}
@media (max-width: 423px){
	
	.about-text__body{
		border-bottom: 2px solid #aaaaaa;
		padding-bottom: 10px;
	}
.about-text__list{
flex-direction:column ;
margin-top: 20px;
}
.about-text__descri{
	border:none;
	margin-bottom: 10px;
}
}
@media (max-width: 410px){
	.awards__text{
		font-size: 23px;
		margin-bottom: 150px;
		width: 100%;
	}
}
@media (max-width: 390px){
	.video-about__inner{
		max-width: 320px;
		
	}
	.reviews-slider .slick-arrow.slick-next{
		left: -35px;
			}
			.reviews-slider .slick-arrow.slick-prev{
				right: -35px;
			}
}
@media (max-width: 385px){
	.about-product__text{
		left: 150px;
	}
.plastic-img--2{
	width: 300px;
}
}
@media (max-width: 375px){
	.reviews-slider .slick-arrow.slick-next{
		left: -20px;
			}
			.reviews-slider .slick-arrow.slick-prev{
				right: -20px;
			}
}
@media (max-width: 350px) {
	.header{
		height: 95vh;
	}
	.menu-list__item {
		margin-left: 20px;
	}
	
	.subtitle {
		width: 290px;
		font-size: 20px;
	}
	.video-about__inner{
		max-width: 280px;
		background-position: left center;
	}
	.plastic__title{
	font-size: 50px;
		
	}
	.plastic__btn{
		right: 41px;
	}
	.product-bottom__item{
		padding: 0 10px ;
	}
	.about-product__img{
		width: 100%;
	}
	
}
